.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .username {
    font-size: 18px;
    color: #333;
  }
  
  .wallet-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .wallet-title {
    font-size: 20px;
    color: #333;
  }
  
  .add-wallet-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .wallet-list {
    margin-top: 20px;
  }
  
  .wallet-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .delete-wallet-button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
  }
  